<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/machine");
</head>
<body style="height:100vh; margin:0px; padding:0px; background-image: url('../Content/Img/background_smaller.jpg'); background-size: auto">
    <div class="container-fluid" style="height:100vh;">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="height:100vh; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color:white">
                @RenderBody()
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
